@keyframes moveInLeft {
  0% {
    transform: translatex(-100px);
    opacity: 0;
  }

  75% {
    transform: translate(30);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    transform: translatex(100px);
    opacity: 0;
  }

  75% {
    transform: translate(-30);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
