.composition {
  position: relative;
  width: 100%;
  height: 320px; // slightly taller for image overlap
  display: flex;
  justify-content: center;
  align-items: center;
}
.composition-img {
  width: 55%;
  border-radius: 2px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  position: absolute;
  transition: all 0.2s ease-in-out;
  outline-offset: 10px;
}

.composition-img-1 {
  left: 0;
  top: -20px;
  z-index: 3;
  transform: scale(0.9);
}
.composition-img-2 {
  right: 0;
  top: 20px;
  z-index: 2;
  transform: scale(0.9);
}

.composition-img-3 {
  left: 25%;
  top: 100px;
  z-index: 4;
  transform: scale(1);
}
.composition-img:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.6);
  outline: 15px solid #55c57a;
  z-index: 5;
}
.composition:hover .composition-img:not(:hover) {
  transform: scale(0.9);
}
