.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 90%;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

[class^=col-] {
  padding: 0 15px;
}

.col-3 {
  width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.col-6 {
  width: 50%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.col-12 {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}